body{
    background-image: url("/assets/images/steven-starry-background.png");
}

#header {
    color: tomato;
    font-weight: bolder;
    font-style: oblique;
    

}

#instruction {
    color: tomato;
    font-weight: bolder;
    font-style: oblique;

}

.btn {
}

.button-one {
    background-image: url("/assets/images/garnet.jpg");
}

.button-two {
    background-image: url("/assets/images/amethyst.jpg");
}

.button-three {
    background-image: url("/assets/images/pearl.jpg");

}

.button-four {
    background-image: url("/assets/images/steven.jpg");
}