body{
    /* background-image: url("../images/steven-starry-background.png"); */
}

#header {
    color: tomato;
    font-weight: bolder;
    font-style: oblique;
    

}

#instruction {
    color: tomato;
    font-weight: bolder;
    font-style: oblique;

}

.btn {
}

.button-one {
    /* background-image: url("../images/garnet.jpg"); */
}

.button-two {
    /* background-image: url("../images/amethyst.jpg"); */
}

.button-three {
    /* background-image: url("../images/pearl.jpg"); */

}

.button-four {
    /* background-image: url("..images/steven.jpg"); */
}