body{
    background-image: url("../images/steven-starry-background.png");
    /* width: 100%; */
    /* height: 100%; */
    color: rgb(243, 245, 109);
    font-weight: bolder;
    font-style: oblique;
    text-shadow: .2rem .2rem 0rem tomato;
    text-align: center;
    font-size: 2rem;
}
  
.container { 
   display: flexbox;
   width:100%;
   height: auto;
   display: flex;
} 

#img-title {
    height:auto;
    width: 100%;
    top: 3%;
}

.cells{
    background-color:blueviolet;
    opacity: .8;
    border: .2rem outset rgb(243, 245, 109);
    border-radius: 1rem;
    margin: 5%;
}

.img-btn{
    height: 6rem;
    width: 6rem;
    border-radius: 1rem; 
    border: .25rem solid blueviolet;

}
.btn {
    border: .25rem solid blueviolet;
    height: 6rem;
    width: 6rem;
    border-radius: 1rem;
    /* display: grid;
    justify-content: right; */  
}

.counter-container {
    /* display: flexbox; */
    
}

.button-container {
    /* display: flexbox; */
}
/* .button-three {
    background-image: url("../images/pearl.jpg");
}

.button-four{
    background-image: url("../images/steven.jpg");
} */

/* #wins {
   

}

#losses {
   
   
}  */
